#colorButtons, #colorButtons table{
    height: 100%;
    width: 100%;
}

#colorButtons table tr {
    width: 100%;
}

#colorButtons table td {
    width: 33%;
}

#colorOne {
    background-color: #a5a1a1;
}

#colorTwo {
    background-color: #d06464;
}

#colorFour {
    background-color: #5f70ce;
}

#colorThree {
    background-color: #e6cb7a;
}
body{
    background-color: #3f3d3d;
}
#container {
    padding: 30px 60px;
    width: 70%;
    margin: 0 auto;
    background-color: #3f3d3d;
}

#textBox {
    width: 100%;
}

#topper {
    display: flex;
}

#buttonBoard {
    width: 50%;
}

#paragraphContainer {
    width: 50%;
}

#paragraph {
    resize: none;
    width: 100%;
}

label:checked {
    border: solid 5px white;
}

#buttonBoard button {
    width: 100% ;
    height: 100% ;
}

#checkedGlyph {
    height: 50px;
    position: absolute;
}

#headerImg img {
    width: 100% ;
}